{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>Inscription</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Inscription</h1>
{% endblock %}
{% block body %}
    <br class="mt-4 mb-4">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <div class="bg-white rounded shadow-5-strong p-5">
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                        <div>
                            {{ form_row(registrationForm.username, {'label': 'Username'}) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.plainPassword, {'label': 'Password'}) }}
                        </div>
                        <div>
                            {{ form_row(registrationForm.agreeTerms, {'label': 'Agree to Terms'}) }}
                        </div>
                        <div class="form-btn d-flex align-items-center justify-content-center">
                            <button type="submit" class="btn btn-primary btn-block align-items-center">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
