{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>Figurines - WH40K</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Figurines</h1>
{% endblock %}
{% block body %}
    <div class="carte_container">
    {% for figurine in figurines %}
        <div class="carte">
            <a href={{ path("figurineInspection", {"id": figurine.id}) }}>
                <h2>{{figurine.faction.name}}</h2>
                {% if figurine.status.value == "Hors Stock" %}
                    <img src="{{ asset("img/OFS.png") }}">
                {% else %}
                    <img src="{{figurine.image.path}}" alt="{{figurine.faction.name}} - {{figurine.name}}">
                {% endif %}
                <h2>{{figurine.name}}</h2>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}