{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>Ajout d'une Figurine</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Ajout d'une Figurine</h1>
{% endblock %}
{% block body %}
    <div class="form-container">
        {{ form_start(formulaire) }}
            {% for child in formulaire.children %}
                {% if child.vars.name == "rangedWeapons" %}
                    <div class="rangedWeapons" data-index="{{ formulaire.rangedWeapons|length > 0 ? formulaire.rangedWeapons|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(formulaire.rangedWeapons.vars.prototype)|e('html_attr') }}">
                        {{form_row(child)}}
                    </div>
                {% elseif child.vars.name == "meleeWeapons" %}
                    <div class="meleeWeapons" data-index="{{ formulaire.meleeWeapons|length > 0 ? formulaire.meleeWeapons|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(formulaire.meleeWeapons.vars.prototype)|e('html_attr') }}">
                        {{form_row(child)}}
                    </div>
                {% else %}
                    {{form_row(child)}}
                {% endif %}
            {% endfor %}
            {{ form_rest(formulaire) }}
        {{ form_end(formulaire) }}
    </div>
    <button type="button" class="add_item_link" data-collection-holder-class="rangedWeapons">Ajouter une Arme de Tir</button>
    <button type="button" class="add_item_link" data-collection-holder-class="meleeWeapons">Ajouter une Arme de Melee</button>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .form-container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            margin-top: 50px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            text-align: center;
        }

        .form-group .meleeWeapons .rangedWeapons {
            margin-bottom: 15px;
        }

        .form-container h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-container form input,
        .form-container form button {
            width: 100%;
            max-width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-container form button {
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .form-container form button:hover {
            background-color: #297fb8;
        }

        /* Ajout de styles spécifiques pour les cases à cocher du champ Paint */
        .form-checkbox-group label {
            display: block;
            margin-bottom: 5px;
        }
    </style>
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
        });
    </script>
{% endblock %}