{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>Création Liste</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Création d'une armée</h1>
{% endblock %}
{% block body %}
    <br class="mt-4 mb-4">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <div class="bg-white rounded shadow-5-strong p-5">
                        {{ form_start(formulaire) }}
                            {% for child in formulaire.children %}
                                {% if child.vars.name == "figurines" %}
                                    <div class="figurines" data-index="{{ formulaire.figurines|length > 0 ? formulaire.figurines|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(formulaire.figurines.vars.prototype)|e('html_attr') }}">
                                        {{form_row(child)}}
                                    </div>
                                {% elseif child.vars.name == "ajouter" %}
                                    {{form_row(child , {'attr': {'class': 'btn btn-primary btn-block align-items-center'}})}}
                                {% else %}
                                    {{form_row(child)}}
                                {% endif %}
                            {% endfor %}
                            {{ form_rest(formulaire) }}
                        {{ form_end(formulaire) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="mt-2 mb-2">
    <div class="form-btn d-flex align-items-center justify-content-center grid gap-3">
        <button type="button" class="add_item_link btn btn-primary btn-block align-items-center" data-collection-holder-class="figurines">Ajouter une Figurine</button>
    </div>
    <br class="mt-2 mb-2">
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
        });
    </script>
{% endblock %}